*{
    margin: auto;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1280px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 14px;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 30px;
}

.blockWrapper {
    margin-top: 500px;
    margin-bottom: 500px;
    display: flex;
    border: 1px solid;
}

.block {
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    color: white;
    font-size: 48px;
}

.block:hover {
    background-color: orange;
}

button {
    border-radius: 8px;
    padding: 8px 16px;
    background-color: transparent;
}

.tableWrapper {
    margin-top: 20px;
    width: 1280px;
    height: 417px;
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 30px 30px;
    border-spacing: 30px;
    border: 2px solid grey;
    border-radius: 11px;
}

td, th {
    padding: 10px;
}